.PageTen-container {
  font-family: Arial, sans-serif;
  max-width: 450px;
  margin: 50px auto;
  padding: 20px;
}

.PageTen-panel {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.PageTen-description,
.PageTen-pricing {
  margin-bottom: 30px;
}

.PageTen-description h5,
.PageTen-pricing h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.PageTen-description p,
.PageTen-pricing p {
  color: #6b6b6b;
  font-size: 14px;
  text-align: center;
}

#PageTen-description-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.PageTen-word-count {
  text-align: right;
  color: #198e78;
  margin-top: 5px;
}

.PageTen-price-input {
  width: 100%;
  height: 45px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.PageTen-price-details p {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 5px 0;
}

.PageTen-you-earn {
  color: #198e78;
  font-weight: bold;
}

 /* Footer styling */
 .PageTen-footer {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Spread Back and Next buttons */
  width: 100%; /* Full width of the screen */
  position: fixed; /* Fixed at the bottom */
  bottom: 0;
  left: 0;
  background-color: #fff; /* Background color */
  padding: 16px;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
}

/* Back and Next buttons */
.PageTen-back-btn,
.PageTen-next-btn {
  padding: 10px 20px;
  width: 100px;
  border-radius: 20px;
  border: none;
  background-color: #198E78;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.PageTen-back-btn:hover,
.PageTen-next-btn:hover {
  background-color: #388e3c;
}

.PageTen-progress-bar {
  width: 1050px;
  height: 4px;
  background-color: #198E78;
  border-radius: 2px;
  margin: 0 16px;
  position: absolute;
  top: -5px;
  left: -16px;
}

.PageTen-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
