
.host-Propertyedit-page{
    /* border: 2px solid teal; */
    width: 80%;
    height: 90%;
         
      }
      .Propertyedit-head{
        width: 100%;
        height: 30%;
        /* border: 2px solid gray; */
    
      }
      .Propertyedit-head-div1{
        padding: 36px;
        margin-top: 25px;
        margin-bottom: 20px;
        width: 100%;
        height: 50px;
        /* border: 2px solid green; */
        display: flex;
        align-items: center;
        /* justify-content: space-evenly; */
        justify-content: space-between;
        border-bottom: 1px solid gray;
        align-items: center;
      }

    .button-div{

width: 300px;
    display: flex;
    justify-content: space-between;
      }

      /* Default button styles */
.toggle-button {
 
  padding: 10px 20px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  border-radius: 10px;
}

/* Class to apply when a button is active */
.active {
  border: 2px solid #198E78;
  border-radius: 10px;
  color:#198E78;
}

      .Propertyedit-head-div2{
        width: 100%;
        height: 50px;
        /* border: 2px solid rgb(176, 64, 87); */
      
    
      }
      .Propertyedit-head-div2 ul{
        display: flex;
     
        font-weight: 500;
        justify-content: space-evenly;
        list-style: none;
        gap: 15px;
    
      }
      .propertyEdit-body{
        width: 100%;
        /* border: 2px solid purple; */
        height: 700px;
      }