.userHome-container{
   

}
.selector-userHome {
  padding-right: 140px;
  padding-left: 60px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border: 2px solid black;
  width: 100%;
  height: 90px;
}

header{
    width: 100vw;
    height: 20%;
    /* border: 2px solid black; */
    background-color: #080808;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
header .nav-bar ul{
display: flex;
color: white;
font-weight: 700;
justify-content: space-evenly;
list-style: none;
gap: 15px;
}

header .userhome-login{
/* border: 2px solid black; */
width: 300px;

}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

body.user-property-card{
    /* border: 2px solid gray; */
    border-radius: 10px;
    width: 20%;
    height: 30%;

}



.property-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px;
  
    margin-left: 400px;
    margin-right: 400px;
}
  .property-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin: 20px;
    width: 200px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .property-card:hover {
    transform: translateY(-5px);
  }
  
  .card-image {
    position: relative;
  }
  
  .card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-status {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  
  .status-dot {
    width: 8px;
    height: 8px;
    background-color: #00b894; /* Green dot */
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .card-info {
    padding: 15px;
  }
  
  .card-info h4 {
    font-size: 16px;
    color: #333;
  }
  
  .card-info p {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
  }

  /*host property edit page  */





/*houserulesedit */



/*influencer setting */
