.host-container {
    width: 100vw;
}

.header-host {
    background-color: black;
    width: 100vw;
    height: 80px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;

}
.header-host img{
    width: 240px;
    height: 76px;
    margin-left: 10px;
    /* position: absolute;
    left: 43px; */
}
.header-host button{
margin: 15px;

    width: 100px;
    height: 47px;
    border-radius: 10px;
    border: transparent;
background-color: #198E78;
 color:white;
 margin: 10px;

}
.body-host {
    width: 100vw;
    height: 80vh;
   display: flex;
   align-items: center;
   justify-content: center;
  
}

.pannel-box {
    width: 1164px;
    height: 429px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
 /* h4{
    position: relative;
    left: 771px;
    top: -212px;
} */
.box{
    width: 372px;
    height: 350px;
    border: 0px solid grey;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.box-image{
    width: 126px;
    height: 126px;
    background-color: lightgray;
    border-radius: 50%;
    margin:10px;
}
.box p{
    color:gray;
    text-align: center;
}
h3{
    position: relative;
    left: -157px;
    top: -23px;
}
.host-footer{
    width: 100vw;
    height: 80px;
    border-top: 4px solid lightgrey;
   
    display: flex;
    justify-content: end;
    align-items: center;
}
.host-footer button{
    width: 137px;
    height: 47px;
    border-radius: 10px;
    border: transparent;
background-color: #198E78;
 color:white;
 margin: 10px;

}