.influencer-container{
    width: 100%;
    height: auto;
}
.header-influencer{
    width: 100%;
    height: 7%;
    border: 2px solid black;

}
.header-influencer img{
    width: 240px;
    height: 76px;
    margin-left: 10px;
    /* position: absolute;
    left: 43px; */
}
.top-header-influencer{
background-color: black;
height: 90px;
}
.botton-header-influencer{
    background-color: rgb(243, 248, 250);
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.collaboration{
    width: 140px;
    height: 50px;
    margin-left: 10px;
    border-radius: 7px;
    background-color: white;
    border: 1px solid black;
    font-weight: 500;
}
#save-header-influencer{
    width: 100px;
    height: 50px;
    margin-left: 10px;
    border-radius: 7px;
    background-color: white;
    border: 1px solid black;
    font-weight: 500;
}
.search-bar-influencer {
    display: flex;
    align-items: center;
    background-color: #198E78;
    border-radius: 5px;
    padding: 5px;
    height: 50px;
    width: 100%;
    max-width: 600px; /* Adjust width as needed */
  }
  
  .search-input-influencer{
    display: flex;
    align-items: center;
    background-color: #198E78;
    border-radius: 5px;
    padding: 5px 10px;
    width: 80%;
    border: none;
  }
  
  .search-input-influencer i {
    color: #198E78;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .search-box-influencer {
    border: none;
    outline: none;
    font-size: 18px;
    width: 100%;
    background-color: #198E78;
    color: white;
  }
  
  .influencer-type-influencer {
    background-color: #198E78;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
  }
  

.body-influencer{


}

.influencer-footer{



}